# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# If using PostgreSQL:
*.pgsql

# ENV
.env

# Ignore virtual environment directories
env/
venv/
ENV/
VENV/

# PyCharm
.idea/

# VS Code
.vscode/

# Migrations
*/migrations/

# Static files
static/
staticfiles/

# Media files
media/

# Local settings
settings_local.py

# macOS
.DS_Store

# Other ignored files
*.swp
